button {
  margin: 5px 5px;
  color: #123C69;
}

.toProfileButton {
  font-size: large;
}

/*.toNotes {*/
/*  margin-right: 200px;*/
/*}*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container :hover{
  box-shadow: 2px 2px 2px lightblue;
  border-radius: 5px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
}

.search {
  margin-left: 10px;
}

.menuButton {
  margin: 0;
  color: #123C69;
}

.info {
  margin: 0 20px;
}


