button {
  margin: 5px 5px;
  color: #123C69;
}

.toProfileButton {
  font-size: large;
}

ul {
  display: flex;
  /*justify-content: center;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
  /*color: rgba(0, 0, 0, 0.6);*/
  /*font-size: medium;*/
}

mat-card {
  inline-size: fit-content;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  min-width: 400px;
  max-width: 700px;
  color: #123C69;
}

div {
  min-height: 300px;
  height: fit-content;
  width: 100%;
  border: 1px lightgray solid;
  border-radius: 3px;
  padding-left: 5px;
  font-size: small;
  overflow: auto;
}

mat-card button {
  font-size: small;
}

mat-card-title {
  font-weight: lighter;
  margin-bottom: 10px;
  /*font-family: Arial, fantasy;*/
}
