
<ul>
  <li>
    <button mat-raised-button (click)="goToProfile()">My Profile</button>
  </li>
  <li>
      <button mat-raised-button (click)="goToNotes()">My Notes</button>

  </li>
</ul>


<mat-card *ngIf="chosenNote && editForm == false">
  <mat-card-title>Title: {{chosenNote.title}}</mat-card-title>
  <mat-card-content>
<!--    <div>Note Id: {{chosenNote.id}}</div>-->
    <p>Content: </p>
    <div>{{chosenNote.content}}</div>
    <button mat-raised-button (click)="editNote()" >Edit</button>
    <button mat-raised-button (click)="deleteNote(chosenNote.id)" >Delete</button>
  </mat-card-content>
</mat-card>



