header {
  background: #A8D0E6;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav button {
  margin: 0 5px;
  color: #123C69;
}

.logo {
  color: snow;
  font-size: xx-large;
  /*font-family: Arial, fantasy;*/
  font-family: fantasy;

}
