header {
  background: #A8D0E6;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 30px;
}

nav button {
  margin-right: 10px;
  color: #123C69;
}

.logo {
  color: snow;
  font-size: xx-large;
  font-family: fantasy;

}

.header :hover {
  cursor: pointer;
}

.pinkBack {
  background: rgb(172, 109, 203);
}

.yellowBack {
  background: rgb(214, 214, 95);
}


