button {
  margin: 5px 5px;
  color: #123C69;
}

.toProfileButton {
  font-size: large;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
}

mat-form-field {
  display: block;
}

textarea {
  min-width: 500px;
  min-height: 200px;
  color: #123C69;
}

mat-card {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  inline-size: fit-content;
  align-self: flex-start;
  color: #123C69;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
}

mat-card button {
  font-size: small;
}

.box {
  height: 100%;
  width: 100%;
}

.pinkBack {
  background: rgba(231, 182, 255, 0.22);
}

.yellowBack {
  background: rgba(255, 255, 224, 0.77);
}

