<ul>
  <li>
    <button class="toProfileButton" mat-raised-button (click)="goToProfile()">My Profile</button>
  </li>
  <li>
    <button mat-raised-button (click)="gotToLists()">My Lists</button>
  </li>
  <li>
    <button class="createNoteButton" mat-raised-button (click)="createNote()">Create a Note</button>
  </li>
  <li class="search">
    <mat-form-field>
      <mat-label>search by title</mat-label>
      <input  matInput type="search" [(ngModel)]="search" (input)="searchInput()">
    </mat-form-field>

  </li>
</ul>

<mat-divider></mat-divider>

<div *ngIf="userNotes && userNotes.length == 0 && notesFound != false" >
  You do not have any notes yet :(
</div>

<div *ngIf="notesFound == false">
  You do not have notes with such title :(
  <button mat-raised-button (click)="backToNotes()" > Back to All Notes</button>
</div>

<div *ngIf="userNotes && !foundNotes">
  <mat-paginator [length]="length"
               [pageSize]="pageSize"
               (page)="pageEvent = $event"
               (click)="changePage()"
               aria-label="Select page"
                >
  </mat-paginator>
  <div  class = 'container'>
    <app-note *ngFor="let n of userNotes" [note]="n"></app-note>
  </div>
</div>

<div *ngIf="foundNotes">
  <mat-paginator [length]="searchLength"
               [pageSize]="pageSize"
               (page)="pageEvent = $event"
               (click)="changeSearchPage()"
               aria-label="Select page"
                >
  </mat-paginator>
  <div  class = 'container'>
    <app-note *ngFor="let n of foundNotes" [note]="n"></app-note>
  </div>
</div>

<router-outlet></router-outlet>
