.container {
  inline-size: fit-content;
  margin-left: 40%;
  margin-top: 100px;
  color: #123C69;

}

mat-card-content {
  display: inline-flex;
  flex-direction: column;
  color: #123C69;

}

button {
  margin: 5px 0;
  color: #123C69;
}

