<button mat-raised-button (click)="goToProfile()">My Profile</button>
<button mat-raised-button (click)="goToLists()">My Lists</button>

<mat-card *ngIf="chosenList" [formGroup]="listForm">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Title:</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <div formArrayName="items"> Content:

      <div *ngFor="let item of itemsArray.controls; index as i">
        <div [formGroupName]="i" >
          <input formControlName="status" type="checkbox" >
          <input formControlName="content" >
          <button *ngIf="item.value.id" mat-raised-button (click)="deleteItem(item.value.id, i)" >Delete</button>
          <button *ngIf="!item.value.id" mat-raised-button (click)="deleteNewItem(i)" >Delete</button>
          <input *ngIf="item.value.id" formControlName="id" type="hidden">
        </div>
      </div>
    </div>
    <button mat-raised-button (click)="addItem()" >Add item</button>
  </mat-card-content>
  <button mat-raised-button (click)="saveEdits(listForm, itemsArray.controls)" >Save Edits</button>
</mat-card>
