ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
}
li button {
  margin: 5px 5px;
  color: #123C69;
}

.toProfileButton {
  font-size: large;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
}

mat-card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: fit-content;
  color: #123C69;
}

.deleteItem {
  color: #123C69;
}

mat-form-field {
  width: 100%;
}

.save {
  margin-left: 300px;
}

button {
  color: #123C69;
  font-size: small;
}
