<p *ngIf="userId == null || undefined">user works!</p>
<div *ngIf="userId"> user number {{userId}} works</div>
<!--<div *ngIf="user">-->
<!--  {{user|json}} - -->
<!--  {{user.id}} &#45;&#45; {{user.email}} &#45;&#45; {{user.profile.name}} &#45;&#45; {{user.profile.surname}} &#45;&#45;{{user.profile.age}}-->
<!--</div>-->

<mat-card *ngIf="user" >
  <mat-card-content>
      {{user.id}} -- {{user.email}} -- {{user.profile.name}} -- {{user.profile.surname}} --{{user.profile.age}}

  </mat-card-content>
</mat-card>
