.box {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}

.container {
  height: fit-content;
  width: 500px;
  margin-left: 30%;
  margin-top: 100px;
  color: #123C69;
}

mat-card-content {
  display: inline-flex;
  flex-direction: column;
  color: #123C69;
  width: 100%;
  height: 100%;
}


mat-card-content div {
  margin-bottom: 10px;
  margin-top: 10px;
}

mat-card-content button {
  font-size: small;
  color: #123C69;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
  margin-left: 5px;
}

li button {
  color: #123C69;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
}

.toProfileButton {
  font-size: large;
}

.pink {
  border-radius: 5px;
  background: rgb(231, 182, 255);
  /*color: lightpink;*/
}

.yellow {
  border-radius: 5px;
  background: lightyellow;
  /*color: lightyellow;*/
}

.pinkBack {
  background: rgba(231, 182, 255, 0.22);
}

.yellowBack {
  background: rgba(255, 255, 224, 0.77);
}


