button {
  margin: 5px;
  color: #123C69;
  font-size: medium;
}

div {
  /*border: 1px darkgray solid;*/
  /*border-radius: 3px;*/
  padding: 5px 10px;
  margin: 3px;
  inline-size: 300px;
  overflow: auto;
}

mat-card {
  inline-size: fit-content;
  margin-left: 30%;
  margin-top: 100px;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
  /*font-family: cursive;*/
  font-family: Arial, fantasy;
}

ul {
  display: flex;
  /*justify-content: center;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
  /*font-size: medium;*/
}

mat-card button {
  font-size: small;

}
