<div [ngClass]="{'pinkBack': color == 1, 'yellowBack': color == 2}" class="box">
  <ul>
    <li>
      <button class="toProfileButton" mat-raised-button (click)="goToProfile()">My Profile</button>
    </li>
    <li>
      <button mat-raised-button (click)="getUserNotes()" >My Notes</button>
    </li>
    <li>
      <button mat-raised-button (click)="getUserLists()">My Lists</button>
    </li>
    <li>
     <button mat-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu"> Change Background
      </button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setDefaultBack()">
        <mat-icon class="default"></mat-icon>
        <span>Default</span>
      </button>
      <button mat-menu-item (click)="setBack(1)">
        <mat-icon class="pink"></mat-icon>
        <span>Pink</span>
      </button>
      <button mat-menu-item (click)="setBack(2)">
        <mat-icon class="yellow"></mat-icon>
        <span>Yellow</span>
      </button>

    </mat-menu>
    </li>
  </ul>
  <mat-divider></mat-divider>


  <mat-spinner *ngIf="!user" ></mat-spinner>

  <mat-card class="container" *ngIf="user" >
    <mat-card-title>My Profile</mat-card-title>
<!--    поправити шляхи аватарів-->
    <img *ngIf="avatar != false"
         crossOrigin="anonymous"
         referrerPolicy="origin"
         class="avatar" [src]="'https://cors-everywhere-me.herokuapp.com/'+ user.profile.avatar">
<!--    <img *ngIf="avatar == false"-->
<!--         crossOrigin="anonymous"-->
<!--         referrerPolicy="origin"-->
<!--         class="avatar" [src]="API_HOST + '/images/avatar.jpg'">-->
    <mat-card-content>
      <div>Name: {{user.profile.name}}</div>
      <mat-divider inset ></mat-divider>

      <div>Surname: {{user.profile.surname}}</div>
      <mat-divider inset ></mat-divider>
      <div>Age: {{user.profile.age}}</div>
      <button mat-raised-button (click)="editProfile()" >Edit</button>
    </mat-card-content>
  </mat-card>
</div>
