<div [ngClass]="{'pinkBack': color == 1, 'yellowBack': color == 2}" class="box">
  <ul>
    <li>
      <button class="toProfileButton" mat-raised-button (click)="goToProfile()">My Profile</button>
    </li>
     <li>
      <button class="toNotes" mat-raised-button (click)="goToNotes()">My Notes</button>
    </li>
    <li>
      <button class="toLists" mat-raised-button (click)="goToLists()">My Lists</button>
    </li>
  </ul>
  <mat-divider></mat-divider>

  <form *ngIf="user" [formGroup]="form" >
    <mat-card >
      <mat-card-title>My Profile</mat-card-title>
      <mat-card-content>
        <div>
          <img *ngIf="avatar != false"
         crossOrigin="anonymous"
         referrerPolicy="origin"
         class="avatar" [src]="'https://cors-everywhere-me.herokuapp.com/'+ user.profile.avatar">
<!--          <img *ngIf="avatar != false" class="avatar" [src]="API_HOST+ user.profile.avatar">-->
<!--          <img *ngIf="avatar == false" class="avatar" [src]="API_HOST + '/media/avatar.jpg'">-->
          <label class="upload"> Change Avatar
            <input type="file" name="file" id="file" (change)="onFileChanged($event)" />
          </label>
          <div class="imgName" *ngIf="file"> Chosen Image: {{file.name}}
          </div>
        </div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" >
        </mat-form-field>

<!--        <input class="file-upload" type="file" accept="image/*" formControlName="avatar">-->
<!--        <button >Choose Image</button>-->
<!--        <input type="file" class="file-upload" onchange="console.log(event.target.files)">-->

        <button mat-raised-button (click)="saveEdits(form)" >Save Changes</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
