mat-card {
  margin-top: 100px;
  margin-left: 30%;
  min-width: 500px;
  width: fit-content;
  height: fit-content;
  color: #123C69;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  display: inline;
  align-self: center;
}

li button {
    margin: 5px 3px;
    color: #123C69;
}

li button:hover {
  background-color: rgb(168, 208, 230);
  color: white;
}

mat-card-content button {
  margin: 5px 5px;
  color: #123C69;
  font-size: small;
}

.toProfileButton {
  font-size: large;
}

mat-card-title {
  font-weight: lighter;
}

.box {
  height: 100%;
  width: 100%;
}

.pinkBack {
  background: rgba(231, 182, 255, 0.22);
}

.yellowBack {
  background: rgba(255, 255, 224, 0.77);
}

.upload {
  border: 1px lightgray solid;
  border-radius: 3px;
  width: fit-content;
  margin: 5px 0;
  padding: 0 5px;
  display: block;
}

.upload:hover {
  cursor: pointer;

}

input[type="file"] {
    display: none;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.imgName {
  border-bottom: 1px lightgray solid;
  margin: 10px 0;
  padding-left: 5px;
}
