
.existing {
  display: inline-flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.existing :hover {
  cursor: pointer;
}

.list {
  height: 100px;
  overflow: auto;
}

.existing button {
  margin-top: 30px;
  margin-right: 5px;
  color: #123C69;
  font-size: smaller;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
  /*font-family: cursive;*/
  font-family: Arial, fantasy;
}

.new {
  min-height: fit-content;
  min-width: 500px;
  max-width: fit-content;
  max-height: fit-content;
  margin-top: 100px;
  margin-left: 30%;
}

.margin {
  margin-right: 10px;
}

.section {
  width: 100%;
}

.new mat-form-field {
  width: 100%;
}

.new button {
  /*margin-top: 100px;*/
  margin-right: 5px;
  color: #123C69;
  font-size: smaller;
  display: block;
}

.save {

  margin-left: 500px;
}
