<!--<p>list works!</p>-->

<mat-card *ngIf="list" >
  <mat-card-title>Title: {{list.title}}</mat-card-title>
  <mat-card-content>
<!--    <div>List Id: {{list.id}}</div>-->
<!--    <div>User Id: {{list.user}}</div>-->
    <div *ngFor="let item of list.items">
      <div>

        <input *ngIf="item.status == true" type="checkbox" checked>
<!--        <div *ngIf="item.status == true" > status true {{item.content}}</div>-->
        <input *ngIf="item.status == false" type="checkbox">
        {{item.content}}
      </div>
    </div>
    <button mat-raised-button (click)="getList(list.id)" >Expand</button>
    <button mat-raised-button (click)="editList(list.id)" >Edit</button>
    <button mat-raised-button (click)="deleteList(list.id)" >Delete</button>
  </mat-card-content>
</mat-card>


<!--<mat-card *ngIf="!list" [formGroup]="listForm">-->
<!--  <mat-card-content>-->
<!--    <mat-form-field>-->
<!--      <mat-label>Title:</mat-label>-->
<!--      <input matInput formControlName="title">-->
<!--    </mat-form-field>-->
<!--    <div formArrayName="items"> Content:-->
<!--      <div *ngFor="let item of itemsArray.controls; index as i">-->
<!--      <input [formControlName]="i">-->
<!--      </div>-->
<!--    </div>-->
<!--    <button mat-raised-button (click)="addItem()" >Add item</button>-->
<!--  </mat-card-content>-->
<!--  <button mat-raised-button (click)="saveNewList(listForm)" >Save</button>-->
<!--</mat-card>-->

<mat-card *ngIf="!list" [formGroup]="listForm">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Title:</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <div formArrayName="items"> Content:

      <div *ngFor="let item of itemsArray.controls; index as i">
        <div [formGroupName]="i" >
          <input formControlName="content" >
          <input formControlName="status" type="checkbox" >
        </div>
      </div>
    </div>
    <button mat-raised-button (click)="addItem()" >Add item</button>
    <button mat-raised-button (click)="saveNewList(listForm)" >Save</button>
  </mat-card-content>
</mat-card>

