
.existing {
  display: inline-flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  margin: 5px;
  color: #123C69;
}

.existing :hover {
  cursor: pointer;
}

.list {
  height: 100px;
  overflow: auto;
}

.existing button {
  margin-top: 30px;
  margin-right: 5px;
  color: #123C69;
  font-size: smaller;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
}

.new {
  min-height: fit-content;
  min-width: 500px;
  max-width: fit-content;
  max-height: fit-content;
  /*margin-top: 100px;*/
  margin-left: auto;
  margin-right: auto;
  color: #123C69;
}

.box {
  min-height: fit-content;
}

.margin {
  margin-right: 10px;
}

.section {
  width: 100%;
}

.new mat-form-field {
  width: 100%;
}

.new button {
  margin-right: 5px;
  color: #123C69;
  font-size: smaller;
  display: block;
}

.save {
  margin-left: 500px;
}

.existingListView {
  height: 130px;
  width: 400px;
}

.existingListView .list {
  height: 40px;
}

.pinkBack {
  background: rgba(231, 182, 255, 0.22);
}

.yellowBack {
  background: rgba(255, 255, 224, 0.77);

}

.mainNew {
  padding-top: 100px;
  margin: 0;
  width: 100%;
  height: 100%;
}

