<button mat-raised-button (click)="goToProfile()">My Profile</button>
<button mat-raised-button (click)="goToLists()">My Lists</button>

<mat-card *ngIf="chosenList" >
  <mat-card-title>Title: {{chosenList.title}}</mat-card-title>
  <mat-card-content>
<!--    <div>List Id: {{list.id}}</div>-->
<!--    <div>User Id: {{list.user}}</div>-->
    <div *ngFor="let item of chosenList.items">
      <div>
        <input *ngIf="item.status == true" type="checkbox" checked (click)="changeItemStatus(item.id, item.content, item.status)" >
        <input *ngIf="item.status == false" type="checkbox" (click)="changeItemStatus(item.id, item.content, item.status)">
        {{item.content}}
      </div>
    </div>
<!--    <button mat-raised-button >Expand</button>-->
    <button mat-raised-button (click)="editList(chosenList.id)">Edit</button>
    <button mat-raised-button (click)="deleteList(chosenList.id)" >Delete</button>
  </mat-card-content>
</mat-card>
