.box {
  width: 100%;
  height: 100%;
  /*background: rgba(168, 208, 230, 0.09);*/
  /*background-image: url("sky.jpg");*/
  display: inline-flex;
  /*justify-content: center;*/;
  /*opacity: 0.3;*/
}


.container {
  inline-size: fit-content;
  margin-left: 40%;
  margin-top: 100px;
}

mat-card-content {
  display: inline-flex;
  flex-direction: column;
  color: #123C69;

}

button {
  margin: 5px 0;
  color: #123C69;
}

