mat-card {
  margin: 5px 5px;
  inline-size: fit-content;
  align-self: flex-start;
}

mat-form-field {
  display: block;
}

.box {
  margin-left: 10px;
  margin-top: 10px;
  width: 600px;
}

/*mat-card :hover {*/
/*  cursor: pointer;*/
/*}*/

div {
  border: 1px darkgray solid;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 3px;
  inline-size: 300px;
  overflow: hidden;
  font-size: small;
}

button {
  height: 35px;
  margin: 3px;
  color: #123C69;
  font-size: smaller;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
  /*font-family: cursive;*/
  font-family: Arial, fantasy;
}
