mat-card {
  margin: 5px 5px;
  inline-size: fit-content;
  align-self: flex-start;
}

mat-card :hover {
  cursor: pointer;
}

div {
  border: 1px darkgray solid;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 3px;
  inline-size: 300px;
  overflow: auto;
  font-size: small;

}

button {
  margin: 3px;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
  /*font-family: cursive;*/
  font-family: Arial, fantasy;
}
