
  <form *ngIf="!note && editForm == false" [formGroup]="form" >
    <mat-card class="box" >
      <mat-card-content>
            <mat-card-title>New Note</mat-card-title>
            <mat-form-field>
              <mat-label>Title:</mat-label>
              <input matInput formControlName="title">
              <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Content:</mat-label>
              <textarea matInput formControlName="content"></textarea>
<!--              <input matInput formControlName="content">-->
              <mat-error></mat-error>
            </mat-form-field>
            <button mat-raised-button (click)="saveNewNote(form)">Save</button>
      </mat-card-content>
    </mat-card>
  </form>


<mat-card *ngIf="note && editForm == false" >
  <mat-card-title >Title: {{note.title}}</mat-card-title>
  <mat-card-content>
    <p>Content:</p>
    <div> {{note.content}}</div>
    <button mat-raised-button (click)="getNote(note.id)" >Expand</button>
    <button mat-raised-button (click)="editNote(note.id)">Edit</button>
    <button mat-raised-button (click)="deleteNote(note.id)" >Delete</button>
  </mat-card-content>
</mat-card>


