mat-card {
  margin: 5px 5px;
  inline-size: fit-content;
  align-self: flex-start;
}

.existing :hover {
  cursor: pointer;
}

mat-form-field {
  display: block;
}

div {
  border: 1px lightgray solid;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 3px;
  overflow: hidden;
  font-size: small;
  height: 100px;
  width: 300px
}

button {
  height: 35px;
  margin: 3px;
  color: #123C69;
  font-size: smaller;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
  /*font-family: cursive;*/
  font-family: Arial, fantasy;
}

/*.new {*/
/*  margin-top: 100px;*/
/*  margin-left: 30%;*/
/*  min-height: 400px;*/
/*  min-width: 500px;*/
/*}*/

.box {
  margin-top: 100px;
  margin-left: 30%;
  min-height: fit-content;
  min-width: 500px;
}

.box mat-card-content button {
  margin-left: 500px;
}

