mat-card {
  margin: 5px 5px;
  inline-size: fit-content;
  /*align-self: flex-start;*/
  color: #123C69;
}


.existing :hover {
  cursor: pointer;
}

mat-form-field {
  display: block;
}

div {
  border: 1px lightgray solid;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 3px;
  overflow: hidden;
  font-size: small;
  height: 100px;
  width: 300px
}

button {
  height: 35px;
  margin: 3px;
  color: #123C69;
  font-size: smaller;
}

mat-card-title {
  margin-bottom: 10px;
  font-weight: lighter;
}

.box {
  margin-top: 100px;
  margin-left: 30%;
  min-height: fit-content;
  min-width: 500px;
}

.box mat-card-content button {
  margin-left: 500px;
}

.existingListView {
  height: 160px;
  width: 600px
}

.existingListView div {
  height: 50px;
  width: auto;
}

.pinkBack {
  background: rgba(231, 182, 255, 0.22);
}

.yellowBack {
  background: rgba(255, 255, 224, 0.77);

}

.mainNew {
  margin: 0;
  width: 100%;
  height: 100%;
}
